@import 'variables.scss';
.admin {
  min-height: 100vh;
  display: flex;
}
.adminNav {
  width: 240px;
  background-color: $primary;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}
.adminMenu {
  list-style: none;
  margin: 0;
  padding: 8px 0;
  li {
    a {
      display: block;
      color: #aaaaaa;
      text-decoration: none;
      line-height: 2rem;
      padding: 14px 16px;
      margin: 0 0 0 14px;
      font-size: 1.4rem;
      border-radius: 5px 0 0 5px;
      svg {
        margin-right: 10px;
        height: 1.8rem;
        min-width: 24px;
        vertical-align: middle;
      }
      &:hover {
        background-color: $primaryActive;
        color: white;
      }
    }
    .adminSubMenu {
      color: #aaaaaa;
      display: none;
      background-color: rgba(white, 0.1);
      margin-left: 20px;
      padding: 8px 0 8px 36px;
      border-radius: 0 0 0 5px;
      li {
        a {
          background-color: transparent;
          margin: 0;
          padding: 8px 16px 8px 0;
          color: #aaaaaa;
        }
        &.active {
          color: white;
          a {
            color: white;
          }
        }
      }
    }
    &.active {
      a {
        background-color: $primaryActive;
        color: white;
      }
      .adminSubMenu {
        display: block;
      }
    }
  }
}

.mainbar {
  padding-left: 240px;
  width: 100%;
}
.topbar {
  border-bottom: 1px solid rgba(black, 0.12);
  background-color: white;
  padding: 10px 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 240px;
  z-index: 800;
}
.adminTitle {
  margin: 0;
  font-size: 2.4rem;
}
.childbar {
  padding: 95px 0 30px;
}
