@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500&display=swap');
@import 'variables.scss';

* {
  box-sizing: border-box;
  font-family: $fontFamily;
}

html {
  font-size: 62.5%;
}

body {
  background-color: $bg;
  font-weight: $fontWeight;
  margin: 0;
  line-height: $lineHeight;
  font-size: $fontSize;
}

p {
  line-height: $lineHeight;
  font-size: $fontSize;
  font-weight: $fontWeight;
  margin: 0 0 2.4rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  font-weight: 400;
  margin: 0 0 2.4rem;
}

h1 {
  font-size: 6.4rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3.6rem;
}
h4 {
  font-size: 3rem;
}
h5 {
  font-size: 2.4rem;
}
h6 {
  font-size: 1.8rem;
}
img {
  max-width: 100%;
}
a {
  transition: all 0.3s ease;
  &:hover {
    text-decoration: none;
  }
}
input {
  &[type='text'],
  &[type='number'],
  &[type='email'],
  &[type='url'],
  &[type='readonly'] {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 1px solid rgba(black, 0.12);
    padding: 11px 18px;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    &:focus {
      outline: none;
      border-color: $primary;
    }
  }
  &[type='button'] {
    cursor: pointer;
  }
}
textarea {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(black, 0.12);
  padding: 11px 18px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  &:focus {
    outline: none;
    border-color: $primary;
  }
}
select {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(black, 0.12);
  padding: 12px 18px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.radioGroup {
  display: block;
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(black, 0.12);
  padding: 12px 18px;
  border-radius: 4px;
  margin-bottom: 10px;
  font-size: 1.6rem;
  line-height: 2.4rem;
  label {
    display: block;
    margin: 10px 0;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
    input {
      margin-right: 5px;
    }
  }
  + .placeholder {
    position: absolute;
    left: 18px;
    transform: translateY(-50%);
    color: #888888;
    transition: all 0.3s ease;
    background-color: white;
    padding: 0 2px;
    top: 0;
    font-size: small;
    opacity: 1;
  }
}
.timeFormat {
  height: calc(100% - 20px);
  .radioGroup {
    height: 100%;
  }
}
.page {
  background-color: #e5e5e5;
}
.fixedWBox {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  min-height: 768px;
}

.centerBox {
  position: absolute;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.roundLogo {
  width: 60px;
  height: 60px;
  border-radius: 16px;
  margin: 0 auto 32px;
  overflow: hidden;
  > span {
    vertical-align: middle;
  }
}

.acountBox {
  background-color: white;
  min-width: 400px;
  padding: 40px;
  border-radius: 4px;
}

.btn {
  background-color: $primary;
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
  border: none;
  line-height: 24px;
  padding: 12px 35px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
  &-block {
    width: 100%;
    text-align: center;
  }
  &:hover {
    background-color: darken($primary, 5);
    color: white;
  }
  &-google {
    background-color: #4285f4;
    &:hover {
      background-color: darken(#4285f4, 5);
    }
  }
  &-github {
    background-color: #171515;
    &:hover {
      background-color: darken(#171515, 5);
    }
  }
  &-facebook {
    background-color: #1877f2;
    &:hover {
      background-color: darken(#1877f2, 5);
    }
  }
}

.otherSignIn {
  border-top: 2px solid rgba(black, 0.12);
  margin-top: 24px;
  padding-top: 24px;
  position: relative;
  &:before {
    content: 'OR';
    background-color: white;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    line-height: 1;
    transform: translate(-50%, -50%);
    font-weight: 400;
    color: #4a4a4a;
  }
  > div {
    + div {
      margin-top: 10px;
    }
  }
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  padding-left: 30px;
  padding-right: 30px;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.card {
  padding: 30px;
  border-radius: 5px;
}

.imageInserter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(black, 0.52);
  z-index: 800;
  padding: 30px;
  display: none;
  z-index: 1301;
  .card {
    padding-top: 50px;
  }
  &.open {
    display: block;
  }
}
.image-inserter-header {
  top: 30px;
  position: absolute;
  display: flex;
  left: 30px;
  right: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  h6 {
    margin: 0;
  }
  .imageInserterClose {
    border: none;
    color: #e74c3c;
    background-color: transparent;
    padding: 0;
    svg {
      height: 30px;
      vertical-align: middle;
      display: inline-block;
    }
  }
}
.tableWrap {
  padding: 0;
  table {
    margin: 0;
    th {
      font-weight: 400;
    }
    > :not(caption) > * > * {
      padding: 1rem 1rem;
      vertical-align: middle;
    }
  }
}
.postSidebar {
  padding: 0;
  + .postSidebar {
    margin-top: 30px;
  }
  .card-header {
    padding: 12px 16px;
  }
  .card-body {
    padding: 24px 16px;
  }
}
.actionBtns {
  margin-left: 10px;
  button {
    border: none;
    padding: 0;
    background-color: transparent;
    font-size: 16px;
    + button {
      margin-left: 10px;
    }
    svg {
      height: 1.6rem;
    }
    &.deleteBtn {
      color: #c0392b;
    }
  }
}
.addNewTaxOnEdit {
  margin-top: 15px;
  position: relative;
  label {
    margin: 0;
  }
  .btn {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 10px;
    text-align: center;
    min-width: 44px;
    &[disabled] {
      opacity: 0;
    }
    svg {
      height: 16px;
    }
  }
}
